{{>navbar}}

<div>
    <h1 class="text-center">Carrito de compras</h1>

    <div class="d-flex flex-column container">
        <div class="m-3 p-3 d-flex flex-wrap gap-2" id="products">
            {{#each cart.products}}
            <div class="card" style="width: 10rem;">
                <img src={{product.thumbnail}} class="card-img-top" alt={{product.title}}>
                <div class="card-body d-flex flex-column gap-2">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <p href="#" class="text-center btn-warning">${{product.price}}</p>
                    <p class="card-text">Cantidad: <strong>{{quantity}}</strong></p>
                </div>
            </div>
            {{/each}}
        </div>
        <form class="align-self-center" action="/api/ticket/purchase" method="post">
            <button type="submit" class="btn btn-success">Finalizar Compra</button>
        </form>
    </div>

</div>